body {
  background-image: url(https://img.freepik.com/free-photo/abstract-blur-defocused-supermarket_1203-9477.jpg?w=1380&t=st=1671008552~exp=1671009152~hmac=bca50c4340bfdf3685827e90c61f2bf21e48cc026e6266d9b5bab114060c769b);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  min-height: 100vh;
  margin: 0;
  
}

.App {
  background-color: rgb(255, 255, 255);
  min-height: 80vh;
  width: 350px;
  margin: 20px auto;
  border: 1px solid rgb(24, 9, 70);
  border-radius: 25px;
}

.crossed {
  text-decoration: line-through 2px red;
  background-color: rgb(214, 223, 221);
}
ul, li {
  list-style-type: none;
  padding: 10px;
  font-size: 17px;
  font-family: 'Montserrat', sans-serif;

}
.img {
  display: flex;
  justify-content: center;
  margin: 0;
}

h1 {
  display: flex;
  justify-content: center;
  font-family: 'Courgette', cursive;
  color: rgb(24, 9, 70);
  font-size: 40px;
  
}

.btn {
  display: flex;
  justify-content: center;
}

.add {
  background-color: rgb(64, 218, 239);
  padding: 7px;
  width: 35%;
  margin-top: 10px;
  border-radius: 10px;
  border: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;

}

.delete {
  background-color: rgb(239, 64, 64);
  padding: 7px;
  width: 35%;
  margin-top: 10px;
  border-radius: 10px;
  border: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  color: aliceblue;

}

.input {
  display: flex;
  justify-content: center;
}

input {
  padding: 17px;
  width: 70%;
  border-radius: 15px;
  background-color: rgb(200, 232, 248);
  border: none;
  font-size: 17px;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

